* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
    }

    body, html {
      height: 100%;
    }

    header {
      width: 100%;
      padding: 20px 40px;
      background-color:#4995B0;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .container {
      display: flex;
      height: calc(100vh - 80px); /* Adjust height to account for header */
    }

    .left-panel {
      flex: 1;
      background: url('g2.jpg') no-repeat center center;
      background-size: cover;
    }

    .right-panel {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      background: url('nnn.jpg') no-repeat center center;
      background-size: cover;
    }
    

    .login-box {
      width: 100%;
      height: 400px;
      max-width: 450px;
      padding: 50px;
      background:transparent ;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    .login-box h1 {
      margin-bottom: 20px;
      text-align: center;
      color: #89d0ea;
    }
    .login-box p {
      margin-bottom: 20px;
      text-align: center;
      color: #89d0ea;
    }

    .login-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid transparent;
      border-radius: 8px;
    }

    .login-box button {
      width: 100%;
      padding: 10px;
      background-color: #4995B0;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .login-box button:hover {
      background-color:#347891;
    }